*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;	
}
header{
	background-image: url(../background.jpg);
	#background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../background.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #ae2321;
	padding: 5px 20px;
	border: 1px solid #fff;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #ae2321;
	color: #fff;
}

ul li.active a{
	background-color: #ae2321;
	color: #fff;
}

.logo img{
	float: left;
	width: 300px;
	height: auto;
}

.main{
	max-width: 1200px;
	margin: auto;
}

.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%); 
}

.title h1{
	color: #ae2321;
	font-size: 95px;
}

.title h2{
	color: #ae2321;
	font-size: 30px;
}